* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 5rem;
    width: 100%;
}

.logo-container {
    display: inline-block;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 5rem;
    margin: 0 5px;
}

nav ul li a {
    color: #333;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 5px;
}

a:active,
a:hover {
    background: gray;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    height: 80px;
    align-items: center;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.logo-mobile {
    display: none;
}

.logo-desktop {
    display: flex;
    align-items: center;
}

.logo-desktop > img {
    background: white;
}

.logo {
    text-align: center;
    background: white;
}

.logo > img {
    width: 65%;
}

.logo-text {
    border-right: 1px solid lightgray;
    padding: 0 2rem;
}

.logo-text > h1 {
    color: #193989;
    font-size: 29px;
}

.logo-text > h6 {
    color: #009bfa;
}

.container {
    width: 65%;
    margin: 0 auto;
}

.overview {
    color: white;
    border-top: 22px solid #001254;
    background: linear-gradient(93deg, rgba(46,149,254,1) 0%, rgba(255,255,255,0) 65%), url('./img/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 6rem 0;
}

.hero-text {
    font-size: 45px;
    font-weight: 600;
    margin-right: 20rem;
    margin-bottom: 0.5rem;
}

.sub-text {
    font-size: 30px;
}

.gallery {
    display: flex;
    justify-content: space-between;
}

.gallery-container {
    width: 30%;
    background: white;
    padding: 1rem 1rem 0.75rem;
    display: flex;
    flex-direction: column;
}

.gallery-container--purple {
    border-bottom: 6px solid #1450d2;
}

.gallery-container--purple h3 {
    color: #1450d2;
}

.gallery-container--green {
    border-bottom: 6px solid #01a49c;
}

.gallery-container--green h3 {
    color: #01a49c;
}

.gallery-container--blue {
    border-bottom: 6px solid #009bfa;
}

.gallery-container--blue h3 {
    color: #009bfa;
}

.gallery-container img {
    width: 100%;
}

.gallery-text {
    margin-top: 0.5rem;
}

.gallery-img {
    position: relative;
}

.gallery-img::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: 60px solid white;
    border-right: 60px solid transparent;
    width: 0;
}

.gallery-img::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0px;
    border-bottom: 60px solid white;
    border-left: 60px solid transparent;
    width: 0;
}

.shadow {
    box-shadow: 1px 1px 9px -2px #000000;
}

.events {
    background: #eee;
    padding: 2rem 0;
}

.title {
    font-size: 30px;
}

.events-description {
    font-size: 12px;
    margin-bottom: 1.5rem;
}

.mission {
    padding: 6rem 0;
    background: url(./img/bg.png);
    background-position: center;
    color: white;
    text-align: center;
    box-shadow: inset 1px 0px 15px -2px #000000;
}

.mission-text {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.contact-button {
    padding: 0.5rem 2rem;
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.footer {
    background: gray;
}

.footer-content {
    display: flex;
    color: white;
    font-size: small;
    justify-content: space-between;
    padding: 1rem 0 2rem;
}

.gallery-container.event {
    padding: 0;
}

.event {
    background: #1450d2;
    color: white;
}

.event-details {
    margin-bottom: 1rem;
}

.event-description {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    position: relative;
}

.event-location {
    padding: 0.5rem;
    background: white;
    color: #333;
    text-align: right;
    position: relative;
}

.event-location::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 35px solid #1450d2;
    border-right: 35px solid transparent;
    border-left: 21px solid #1450d2;
    width: 0;
}

.event-button-container {
    margin-top: auto;
    margin-bottom: 1rem;
}

.event-date {
    position: absolute;
    top: -10px;
    background: #001254;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 25%;
    height: 25%;
}

.event-date::before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    border-top: 10px solid transparent;
    border-right: 12px solid #001a7a;
    width: 0;
}

.event-month {
    font-size: 10px;
}

.event-day {
    font-size: 28px;
}

.event-title {
    margin-top: 45px;
}

.footer-social {
    display: flex;
    align-items: flex-start;
}

.footer-social-icon {
    width: 20px;
    margin-left: 0.5rem;
}

@media (max-width: 44rem) {
    nav ul li a {
        font-size: 16px;
    }

    .checkbtn {
        display: flex;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2ce350;
        top: 80px;
        right: -100%;
        text-align: center;
        transition: all .5s;
        margin-right: 0;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a:active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        right: 0;
    }

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .logo-mobile {
        display: block;
        width: 50%;
    }

    .logo-desktop {
        display: none;
    }

    .container {
        width: 100%;
    }
}
